@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* ===== Colors ===== */
  --primary-color: #002247;
  --secondary-color: #fdf8e9;
  --secondary2-color: #fefcf5;
  --tertiary-color: #e9b207;
  --text-color: #1c1a1a;

  /* ========== Font and typography ========== */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 39px;
  --h2-font-size: 31px;
  --h3-font-size: 25px;
  --h4-font-size: 20px;
  --h5-font-size: 16px;
  --h6-font-size: 13px;
  --h7-font-size: 10px;

  /*========== Font weight ==========*/
  --font-small: 380;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 900;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
  font-weight: var(--font-semibold);
}

/*========== Navbar ==========*/
.custom-link {
  color: var(--primary-color);
}

.custom-navbar {
  background-color: var(--secondary-color);
  transition: 0.4s;
  padding: 20px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menu-icon {
  font-size: var(--h2-font-size);
  color: var(--primary-color);
}

.custom-button-report {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 16px;
  border: 0;
  border-radius: 15px;
  font-size: var(--h5-font-size);
  font-weight: var(--font-semibold);
}

.custom-button-report:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

/*========== Footer ==========*/
.custom-footer {
  color: var(--primary-color);
}

.custom-footer:hover {
  color: var(--tertiary-color);
}

/*========== Home ==========*/
.custom-section {
  background-color: var(--primary-color);
}

.hero_one {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.hero_two {
  font-size: var(--h3-font-size);
  font-weight: 600;
}

.hero_three {
  font-size: var(--h5-font-size);
  font-weight: 400;
}

.hero_two,
.hero_one,
.hero_three {
  color: var(--secondary-color);
}

.custom-button-hero {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-weight: var(--font-bold);
  font-size: var(--h4-font-size);
  border-radius: 40px;
  border: 0;
  padding: 10px 16px;
}

.custom-button-hero:hover {
  color: var(--primary-color);
}

.custom-icon-bg {
  background-color: var(--tertiary-color);
  border-radius: 50px;
}

.custom-img-consul {
  border-radius: 30px 30px 90px 30px;
  box-shadow: 27px -26px var(--tertiary-color);
}

.kotak-kecil {
  width: 8.228px;
  height: 37px;
  background-color: var(--tertiary-color);
}

.custom-button-consul {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  font-weight: var(--font-bold);
  font-size: var(--h4-font-size);
  border-radius: 20px;
  border: 0;
  padding: 10px 23.5px;
}

.custom-button-consul:hover {
  color: var(--secondary-color);
}

.custom-latest {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 508.76px;
  height: 203px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: -47px;
  position: absolute;
}

.custom-title-card {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 20px 0px;
  font-size: var(--h4-font-size);
  width: 232px;
  padding: 10px;
}

.custom-card-news {
  margin-bottom: 195px;
}

.custom-button-news {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border-radius: 40px;
  font-size: var(--h4-font-size);
  padding: 10px 44px;
  width: 250px;
}

.custom-button-news:hover {
  color: var(--secondary-color);
}

.contact-ni {
  width: 325px;
  height: 370px;
  background-color: var(--primary-color);
  border-radius: 20px 0 20px 20px;
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.contact-ni::before {
  content: "";
  position: absolute;
  top: -11.5%;
  right: -11.5%;
  background-color: var(--secondary-color);
  width: 20%;
  height: 20%;
  transform: rotate(45deg);
}

.custom-contact {
  border-radius: 50px;
  font-size: 10px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.custom-contact:hover {
  color: var(--secondary-color);
}

.garis-kecil {
  width: 2px;
  height: 56px;
  background-color: var(--text-color);
}

/*========== About ==========*/
.custom-card-team {
  background-color: var(--tertiary-color);
  border-radius: 0 0 0 50px;
  width: 344px;
  height: 146px;
  position: absolute;
  margin-top: -146px;
  opacity: 71%;
}

.img-team {
  border-radius: 0 0 0 50px;
}

.ourt {
  color: var(--secondary-color);
  font-size: var(--h3-font-size);
  font-weight: bold;
}

.best1 {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: bold;
}

.custom-team-logo {
  color: var(--text-color);
}

/*========== Form Login Register ==========*/
.custom-input-form::placeholder {
  color: var(--secondary2-color);
  opacity: 0.5;
}

.custom-button-auth {
  border-radius: 18px;
  background-color: var(--tertiary-color);
}

.custom-button-auth:hover {
  color: var(--secondary-color);
}
